@font-face {
  src: url('../fonts/Montserrat-Regular.woff') format('woff');
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url('../fonts/Montserrat-Medium.woff') format('woff');
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url('../fonts/Montserrat-Bold.woff') format('woff');
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
}