// Header
.header {
  position: fixed;
  width: 100%;
  z-index: 22;
}


.services.show {

  .menu__services {
    left: 0;
    opacity: 1;
    pointer-events: inherit;
  }
}

.menu__services {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  row-gap: 40px;
  left: -100%;
  top: 83px;
  max-height: 620px;
  height: 100%;
  overflow-y: auto;
  width: 100vw;

  opacity: 0;
  pointer-events: none;
  z-index: 22;
  transition: left 0.3s linear, opacity 0.3s linear;

  overflow-y: auto;
  overflow-x: hidden;

  @media (max-width: $breakpoint992) {
    display: none;
  }


  .menu__service {
    width: 100%;
    height: 100%;
    padding-top: 50px;
  }


  .menu__service .menu__sublist-item:nth-child(1) {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: var(--main-color);
  }

  .menu__service:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    justify-content: end;
    align-content: baseline;
    row-gap: 40px;
    column-gap: 40px;
    padding-right: 40px;
    background-color: var(--white-color);

    @media (max-width: $breakpoint1450) {
      grid-template-columns: repeat(2, 250px);
      row-gap: 20px;
      column-gap: 20px;
      padding-right: 20px;
    }


    .menu__sublist-item {
      max-width: 350px;

      @media (max-width: $breakpoint1450) {
        max-width: 250px;
      }

    }

    .menu__sublist-link {
      display: flex;
      align-items: center;
      column-gap: 15px;
      padding: 8px 10px;
      border-radius: 10px;

      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: var(--main-color);

      transition: background-color 0.2s linear, color 0.2s linear;

      &:hover {
        background-color: var(--second-color);
        color: var(--white-color);
      }

      img {
        width: 70px;

        @media (max-width: $breakpoint1450) {
          width: 60px;
        }

      }

      svg {
        vertical-align: middle;
      }

      @media (max-width: $breakpoint1450) {
        font-size: 16px;
        line-height: 20px;
      }

    }
  }


  .menu__service:nth-child(1) .menu__sublist-item:nth-child(1) {
    grid-column: span 2;
  }

  .menu__service:nth-child(2) {
    // flex: 0 1 600px;
    width: 70%;
    display: flex;
    flex-direction: column;
    min-width: 600px;
    padding: 50px 20px 20px 60px;
    background: #DCE5FF;


    @media (max-width: $breakpoint1450) {
      min-width: 400px;
      padding: 50px 20px 20px 30px;
    }


    .menu__sublist-item:not(:last-child) {
      margin-bottom: 30px;
    }

    .menu__sublist-link {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: var(--main-color);

      transition: color 0.2s linear;

      @media (max-width: $breakpoint1450) {
        font-size: 18px;
        line-height: 20px;
      }

      &:hover {
        color: var(--second-color);
      }

    }
  }
}

// Navbar
.nav {
  position: relative;
  padding: 16px 0;
  background-color: #060050;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {}

.menu {
  display: flex;
  align-items: center;
  column-gap: 30px;

  // .menu__item
  &__item {}

  // .menu__item-link
  &__item-link {
    padding: 4px 5px;
    border-bottom: 1px solid transparent;
    color: var(--white-color);

    transition: border 0.2s linear;

    &.active {
      border-bottom: 1px solid var(--white-color);
    }

    @media (min-width: 1200px) {
      &:hover {
        border-bottom: 1px solid var(--white-color);
      }
    }
  }

  &__item-link--yellow {
    padding: 6px 16px;
    background-color: var(--second-color);
    border-radius: 4px;

    @media (min-width: 1200px) {
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
}



// Burger menu styles
@media screen and (max-width: $burgerBreakpoint) {

  .nav {
    padding: 8px 0;
  }

  // .menu
  .menu {
    position: fixed;
    background-color: #F0F0F0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    display: none;

    &.active {
      display: flex;
      row-gap: 40px;
      left: 0;
      bottom: 0;
      height: calc(100vh - 66px);
      width: 100vw;
      flex-direction: column;
      pointer-events: all;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 40px 20px;
      z-index: 22;
      animation: fade 0.1s linear;

      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  // .burger
  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;

    &.active-burger {
      &:before {
        background: $burgerActiveColor;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 8px;
      }

      &:after {
        background: $burgerActiveColor;
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background: $burgerActiveColor;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      background: $burgerActiveColor;
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }

  // .menu__item
  .menu__item {
    width: 100%;

    &[data-submenu-item] {
      display: flex;
      align-items: center;
      flex-direction: row;
      column-gap: 20px;
      row-gap: 0;
      flex-wrap: wrap;

      .menu__item-link {
        white-space: nowrap;
      }
    }
  }

  // .menu__link
  .menu__item-link {
    padding: 0;
    border: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--main-color);

    &.active {
      border: 0;
    }
  }
}

.desktop-item {
  @media (max-width: $breakpoint992) {
    display: none;
  }
}

.mobile-item {
  display: none;

  @media (max-width: $breakpoint992) {
    display: flex;

    & .menu__item-link--yellow {
      width: 100%;
      padding: 16px;
      background-color: transparent;
      border: 2px solid var(--second-color);
      filter: drop-shadow(3px 3px 7px #D9B48D);
      border-radius: 8px;
      color: var(--second-color);
      text-align: center;
    }
  }
}

.menu__item.mobile-item {
  flex-direction: column;
  row-gap: 20px;
}

.menu__sublist {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  height: 0;
  width: 0;
  opacity: 0;
  user-select: none;
  pointer-events: none;

  transition: height 0.3s linear, row-gap 0.3s linear;

  .menu__sublist-link {
    display: flex;
    height: 0;
  }
}


.menu__item.active[data-submenu-item] {

  .menu__sublist {
    flex: 0 1 100%;
    row-gap: 30px;
    margin-top: 30px;
    height: 100%;
    width: 100%;
    opacity: 1;
    pointer-events: initial;
    user-select: auto;

    .menu__sublist-link {
      height: auto;
    }

    .menu__sublist-link {
      font-size: 16px;
      line-height: 20px;
      color: var(--main-color);
    }
  }
}

.arrow {
  min-width: 16px;
}


.menu__services-close {
  position: absolute;
  top: 0;
  right: 50px;
  width: 70px;
  height: 70px;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;

    path {
      transition: stroke 0.2s linear;
    }
  }

  &:hover svg path {
    stroke: var(--second-color);
  }


  @media (max-width: $breakpoint1450) {
    right: 0;
    top: -10px;
    width: 70px;
    height: 70px;
  }
}