.instructions-list {
  position: relative;

  &.active {
    @media (max-width: $breakpoint992) {
      .instructions-list__main {
        left: 0;
        width: 100%;
        opacity: 1;
        overflow: visible;
      }

      .instructions-list__search {
        opacity: 0;
      }
    }
  }


  // .instructions-list__search

  &__burger {
    display: none;

    @media (max-width: $breakpoint992) {
      display: flex;
      cursor: pointer;
    }
  }

  &__search {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-right: 40px;

    transition: opacity 0.2s linear;

    span {
      position: absolute;
      right: 45px;
      top: 7px;
    }


    @media (max-width: $breakpoint992) {
      display: flex;
      align-items: center;
      column-gap: 15px;
      padding-right: 0;

      span {
        right: 5px;
      }
    }

  }

  // .instructions-list__src

  &__src {
    width: 100%;
    padding: 9px 30px 9px 14px;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    outline-color: var(--second-color);

    &::placeholder {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #A3A3A3;
    }

  }

  &__main {

    @media (max-width: $breakpoint992) {
      position: absolute;
      left: -100%;
      opacity: 0;
      overflow: hidden;
      top: 0;
      width: 0;
      height: 100%;
      background-color: var(--white-color);

      transition: left 0.2s linear, width 0.2s linear;
    }
  }

  // .instructions-list__label

  &__label {
    margin-bottom: 15px;
    font-weight: 500;

    span {
      display: none;
    }

    @media (max-width: $breakpoint992) {
      display: flex;
      align-items: center;
      column-gap: 15px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;

      span {
        display: block;
        cursor: pointer;
      }
    }

  }

  &__list-container {
    max-height: 586px;
    overflow-y: auto;

    scrollbar-color: #0B0460 #E9EFFD;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 15px;
    }

    &::-webkit-scrollbar-track {
      background: #E9EFFD;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #0B0460;
    }

    @media (max-width: $breakpoint992) {
      // max-height: 75vh;
      margin-right: -10px;
      background-color: var(--white-color);

      &::-webkit-scrollbar {
        width: 5px;
      }

    }
  }

  // .instructions-list__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-right: 25px;

    @media (max-width: $breakpoint992) {
      margin-right: 10px;
    }
  }

  // .instructions-list__item

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    width: 100%;
    background-color: #F0F0F0;
    border-radius: 4px;

    transition: background-color 0.2s linear;

    &.active {
      background-color: #E9EFFD;

      /* Анимация раскрытия/скрытия sublist */
      .instructions-list__sublist {
        row-gap: 10px;
        padding: 15px 0;
        margin: 10px -15px -15px;
        background-color: var(--white-color);

        max-height: 500px;
        /* Укажите максимальную высоту для sublist */
        transition: max-height 0.3s ease-in-out;
      }

      .instructions-list__item-arrow {
        transform: rotate(90deg);
      }
    }
  }

  // .instructions-list__item-link

  &__item-link {
    margin-right: 50px;
    font-weight: 500;
    font-size: 16px;
    color: var(--main-color);
  }

  // .instructions-list__item-arrow

  &__item-arrow {
    position: absolute;
    right: 15px;
    top: 14px;

    transition: transform 0.1s linear;
    cursor: pointer;
  }

  // .instructions-list__sublist

  &__sublist {
    /* Скрываем sublist по умолчанию */

    display: flex;
    flex-direction: column;
    row-gap: 0;
    padding: 0;

    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  // .instructions-list__subitem

  &__subitem {
    padding: 5px 30px;

    &.active {
      background-color: #E9EFFD;
    }
  }

  // .instructions-list__sublink

  &__sublink {
    font-weight: 500;
    font-size: 16px;
    color: var(--main-color);
  }
}