.form-data__political {
  max-width: 230px;
  margin: 10px auto;
  text-align: center;
  font-size: 12px;
}

.form-data__political a {
  text-decoration: underline;
  color: var(--main-color);
}

.form-data__entered {
  text-align: center;
  font-size: 14px;
}

.form-data__entered a {
  text-decoration: underline;
  color: var(--main-color);
}