.reviews {
  margin-bottom: 90px;

  @media (max-width: $breakpoint992) {
    margin-bottom: 60px;
  }

  // .reviews__title

  &__title {
    margin-bottom: 40px;

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
    }

  }

  // .reviews__slider

  &__slider {}

  // .reviews__slider-wrapper

  &__slider-wrapper {}

  // .reviews__slide

  &__slide {
    max-width: 440px;
    padding: 30px;
    background-color: var(--white-color);
    border-radius: 10px;

    @media (max-width: $breakpoint768) {
      max-width: 100%;
      padding: 20px 15px;
    }
  }

  // .reviews__slide-top

  &__slide-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 20px;
    margin-bottom: 20px;

    @media (max-width: $breakpoint768) {
      column-gap: 10px;
      margin-bottom: 10px;
    }

  }

  // .reviews__slide-author

  &__slide-author {}

  // .reviews__slide-name

  &__slide-name {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    @media (max-width: $breakpoint768) {
      margin-bottom: 2px;
      font-size: 18px;
      line-height: 22px;
    }

  }

  // .reviews__slide-label

  &__slide-label {}

  // .reviews__slide-stars

  &__slide-stars {
    white-space: nowrap;

    span {
      @media (max-width: $breakpoint480) {
        width: 12px;

        svg {
          width: 12px;
        }
      }
    }
  }

  // .reviews__slide-texts

  &__slide-texts {}

  // .reviews__slide-text

  &__slide-text {

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  // .reviews__slider-arrows

  &__slider-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 44px;
    margin-top: 40px;

    @media (max-width: $breakpoint768) {
      margin-top: 30px;
    }

  }

  // .reviews__slider-prev

  &__slider-prev {
    position: static;
    display: flex;
    cursor: pointer;
  }

  // .reviews__slider-next

  &__slider-next {
    position: static;
    display: flex;
    cursor: pointer;
  }
}